<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand animate__animated animate__fadeIn" routerLink="/">
            <div class="hvr-grow">
                <h1>J<span class="h4">o</span></h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">                
            <i class="fas fa-bars text-primary"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto">
                <li class="mx-3 nav-item animate__animated animate__delay-1s animate__faster animate__fadeInDown">                    
                    <a class="nav-link hvr-underline-from-left " [routerLink]="['/home']" routerLinkActive="active" >Home</a>                    
                </li>
                <li class="mx-3 nav-item animate__animated animate__delay-1s animate__fast animate__fadeInDown ">                    
                    <a class="nav-link hvr-underline-from-left" [routerLink]="['/portfolio']" routerLinkActive="active" >Portfolio</a>                                            
                </li>
                <li class="mx-3 nav-item animate__animated animate__delay-1s animate__fadeInDown animate__slow">
                    <a 
                    href="https://res.cloudinary.com/ojacome/image/upload/v1610383097/portfolio/hoja_de_vida_new_jfgsk2.jpg" 
                    class="btn btn-outline-primary"
                    target="_blank">
                        Resume
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>