
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand animate__animated animate__fadeIn" href="/">
              <div class="hvr-grow">
                  <h1>J<span class="h4">o</span></h1>
              </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">                
              <i class="fas fa-bars text-primary"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-auto">
                  <li class="mx-3 nav-item animate__animated animate__delay-1s animate__faster animate__fadeInDown">
                      <div class="h-link">
                          <a class="nav-link active" href="#">Home</a>
                      </div>
                  </li>
                  <li class="mx-3 nav-item animate__animated animate__delay-1s animate__fast animate__fadeInDown ">
                      <div class="h-link">
                          <a class="nav-link" href="#">Portfolio</a>
                      </div>                        
                  </li>
                  <li class="mx-3 nav-item animate__animated animate__delay-1s animate__fadeInDown">
                      <div class="h-link">
                          <a class="nav-link" href="#">Contact</a>
                      </div>
                  </li>
                  <li class="mx-3 nav-item animate__animated animate__delay-1s animate__fadeInDown animate__slow">
                      <button class="btn btn-outline-primary">Resume</button>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">
      <div class="d-md-block sidebar collapse">        
          <div class="d-flex flex-column animate__animated animate__fadeIn animate__delay-2s">                
              <a class="social-item hvr-bob "  href="#">
                  <i class="fab fa-linkedin-in fa-lg "></i>
              </a>                
              <a class=" social-item hvr-bob"  href="#">
                  <i class="fab fa-github fa-lg"></i>
              </a>            
              <a class="social-item hvr-bob "  href="#">
                  <i class="fab fa-instagram fa-lg"></i>
              </a>
          </div>        
      </div>
  </div>

  <div class="container">
      <div class="row justify-content-center" style="margin-top: 10vw;">
          <div class="col-md-7">
              <h5 class="text-muted animate__animated animate__fadeInUp animate__faster">
                  Hola, mi nombre es
              </h5>
              <h1 class="mt-md-4 title-home animate__animated animate__fadeInUp animate__fast">
                  JESÚS OLMEDO
              </h1>
              <p class="mt-md-4 text-long h5 animate__animated animate__fadeInUp" >
                  Soy <span class="text-primary">Ingeniero en Sistemas Computacionales</span> vivo en Guayaquil-Ecuador, me encanta la tecnología, he trabajado en el desarrollo de aplicaciones web tanto en frontend y backend.
              </p>
              <button class="mt-md-4 btn btn-outline-primary btn-lg animate__animated animate__fadeInUp animate__slow">
                  Proyectos
              </button>
          </div>
      </div>                    
  </div>