
<app-float-social-media></app-float-social-media>

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10vw;">
        <div class="col-md-7">
            <h5 class="text-muted animate__animated animate__fadeInUp animate__faster">
                Hola, mi nombre es
            </h5>
            <h1 class="mt-md-4 title-home animate__animated animate__fadeInUp animate__fast">
                JESÚS OLMEDO
            </h1>
            <p class="mt-md-4 text-long h5 animate__animated animate__fadeInUp" >
                Soy <span class="text-primary">Ingeniero en Sistemas Computacionales</span> vivo en Guayaquil-Ecuador, me encanta la tecnología, he trabajado en el desarrollo de aplicaciones web tanto en frontend y backend.
            </p>
            <a 
            routerLink="/portfolio"
            class="mt-md-4 btn btn-outline-primary btn-lg animate__animated animate__fadeInUp animate__slow">
                Proyectos
            </a>
        </div>
    </div>                    
</div>

<app-float-button></app-float-button>