
<div class="container">
    <div class="d-md-block sidebar collapse">        
        <div class="d-flex flex-column animate__animated animate__fadeIn animate__delay-2s">                
            <a 
            target="_blank"
            class="social-item hvr-bob"  
            href="https://www.linkedin.com/in/olmedo-jacome-oj/">
                <i class="fab fa-linkedin-in fa-lg "></i>
            </a>                
            <a 
            target="_blank"
            class=" social-item hvr-bob"  
            href="https://github.com/ojacome">
                <i class="fab fa-github fa-lg"></i>
            </a>            
            <a 
            target="_blank"
            class="social-item hvr-bob "  
            href="https://www.instagram.com/jesus_olmedoo/">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>        
    </div>
</div>