<footer class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 col-md-2 col-lg-1 text-center">
            <a 
            routerLink="/">
                <img 
                src="https://res.cloudinary.com/ojacome/image/upload/v1610388566/portfolio/logo_portafolio_odomqe.png" 
                class="w-75 rounded"
                alt="logo jesus olmedo">
            </a>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-4 col-md-2 col-lg-1 text-center">
            <a 
            target="_blank"
            class="footer-link hvr-underline-from-left"  
            href="https://www.linkedin.com/in/olmedo-jacome-oj/">
                Linkedin
            </a>            
        </div>
        <div class="col-4 col-md-2 col-lg-1 text-center">
            <a 
            target="_blank"
            class=" footer-link hvr-underline-from-left"  
            href="https://github.com/ojacome">
                Github
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-1  text-center">
            <a 
            target="_blank"
            class="footer-link hvr-underline-from-left "  
            href="https://www.instagram.com/jesus_olmedoo/">
                Instagram
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6  text-center">
            <p class="text-long">
                Design and build with <i class="fas fa-heart"></i> by Jesús Olmedo 
            </p>
        </div>
    </div>
</footer>
